// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$yellow-color: #ffcd85;
$orange-color: #f5bc9b;
$brown-color: #4b2d17;