<template>
  <v-app>
    <v-app-bar id="app-bar" app fixed flat>
      <v-toolbar-title class="title font-weight-bold brown-text-color">
        Hi, What's today's taste?
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <v-bottom-sheet v-model="sheet">
        <template #activator="{ on, attrs }">
          <v-badge
            :value="sumItemInCart"
            :content="sumItemInCart"
            bordered
            overlap
            color="deep-purple accent-4"
            class="mx-4"
          >
            <v-icon v-bind="attrs" color="grey lighten-1" large v-on="on">
              mdi-shopping
            </v-icon>
          </v-badge>
        </template>
        <v-sheet class="text-center py-2">
          <div v-if="sumItemInCart">
            <v-virtual-scroll
              :items="itemInCart"
              :item-height="$vuetify.breakpoint.xs ? '60' : '90'"
              :height="$vuetify.breakpoint.xs ? '300' : '450'"
              max-width="960"
              class="mx-auto"
            >
              <template #default="{ item }">
                <v-list-item>
                  <!-- <v-list-item class="cart-item"> -->
                  <v-list-item-avatar
                    :height="$vuetify.breakpoint.xs ? '40' : '70'"
                    :width="$vuetify.breakpoint.xs ? '40' : '70'"
                    class="circle-bg cart-item"
                  >
                    <!-- <div class="circle-bg"> -->
                    <v-img :src="item.icon" :alt="item.alt" contain />
                    <!-- </div> -->
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                  </v-list-item-content>

                  <v-list-item-action class="flex-row">
                    <v-btn depressed small @click="decreaseItem(item.id)">
                      -
                    </v-btn>
                    {{ item.amount }}
                    <v-btn depressed small @click="increaseItem(item.id)">
                      +
                    </v-btn>
                  </v-list-item-action>
                </v-list-item>
              </template>
            </v-virtual-scroll>
            <v-btn
              class="mt-6"
              text
              color="error"
              @click="updateInventories(itemInCart), clearCart()"
            >
              Buy now
            </v-btn>
          </div>
          <div v-else>
            <div class="py-3">Cart is empty</div>
            <v-btn class="mt-6" text color="error" @click="sheet = !sheet">
              close
            </v-btn>
          </div>
        </v-sheet>
      </v-bottom-sheet>
    </v-app-bar>
    <v-main id="main-bar">
      <nuxt />
    </v-main>
  </v-app>
</template>

<script>
import { mapActions, mapGetters, mapState, mapMutations } from 'vuex'

export default {
  data() {
    return {
      sheet: false,
    }
  },
  computed: {
    ...mapGetters({
      sumItemInCart: 'inventory/sumItemInCart',
      itemInCart: 'inventory/itemInCart',
    }),
    ...mapState({
      cart: (state) => state.inventory.cart,
    }),
  },
  methods: {
    ...mapActions({
      updateInventories: 'inventory/updateInventories',
      // restoreInventories: 'inventory/restoreInventories',
    }),
    ...mapMutations({
      clearCart: 'inventory/clearCart',
      increaseItem: 'inventory/increaseItem',
      decreaseItem: 'inventory/decreaseItem',
    }),
  },
}
</script>

<style lang="scss">
#app-bar .v-toolbar__content {
  max-width: 960px;
  margin: auto;
}
#main-bar {
  max-width: 960px;
  margin: auto;
  width: 100%;
}

// .cart-item .v-avatar {
//   height: 80px;
//   min-width: 80px;
//   width: 80px;
//   .v-image {
//     height: 80px;
//   }
// }

.circle-bg {
  background-color: #bbb;
  border-radius: 50%;
  margin: auto;
  &.cart-item .v-image {
    height: 80%;
  }
}

.v-application .brown-text-color {
  color: $brown-color;
}

.text-stroke-orange {
  text-shadow: -1px 0 $orange-color, 0 1px $orange-color, 1px 0 $orange-color,
    0 -1px $orange-color;
}
</style>
