<template>
  <v-container>
    <!-- Category menu -->
    <v-row id="category-menu-flex" justify="start" class="mb-3">
      <v-col
        v-for="(categoryItem, categoryKey) in category"
        :key="categoryKey"
        :class="{ active: selectedType === categoryItem.title }"
        :cols="cols"
        @click="
          ;(selectedType = categoryItem.title),
            (detail = menuList[categoryItem.title][0])
        "
      >
        <div class="d-flex flex-column align-center circle-bg">
          <v-img :src="categoryItem.icon" :alt="categoryItem.alt" contain />
        </div>
        <div class="text-center font-weight-medium brown-text-color">
          {{ categoryItem.title }}
        </div>
      </v-col>
    </v-row>
    <!-- Detail -->
    <v-responsive id="detail-flex" :aspect-ratio="1 / 1" class="mx-auto mb-3">
      <v-row
        justify="center"
        align-content="center"
        class="circle-bg detail-menu-bg"
      >
        <v-col class="flex-grow-0 flex-shrink-1 detail-menu-img pa-0">
          <v-img :src="detail.icon" :alt="detail.alt" />
        </v-col>
        <v-col class="flex-grow-1 flex-shrink-0 px-0 py-4">
          <div
            class="display-1 font-weight-bold white--text text-stroke-orange mb-3"
          >
            {{ detail.title }}
          </div>
          <div class="white--text">
            <span class="title font-weight-medium">
              {{ detail.price }}
            </span>
            <span> / {{ detail.size }}</span>
          </div>
          <div class="mb-3">
            <v-rating
              v-model="detail.score"
              color="white"
              background-color="white"
              half-increments
              readonly
              :size="$vuetify.breakpoint.xs ? '15' : '20'"
            ></v-rating>
          </div>
          <div>
            <v-btn
              class="mt-2 brown-text-color"
              color="white"
              height="50"
              rounded
              :disabled="!checkQuantity"
              @click.native="addCart(detail.id)"
            >
              <span v-if="checkQuantity">
                <v-icon medium class="mr-2 brown-text-color"> mdi-cart </v-icon>
                Add to cart
              </span>
              <span v-else> Out of stock </span>
            </v-btn>
          </div>
        </v-col>
      </v-row>
    </v-responsive>
    <!-- Menu list -->
    <v-row id="menu-list-flex" justify="start" class="mb-3">
      <v-col
        v-for="(menu, menuKey) in menuList[selectedType]"
        :key="menuKey"
        :class="{ active: detail.title === menu.title }"
        :cols="cols"
        @click="detail = menu"
      >
        <div class="d-flex flex-column align-center justify-center circle-bg">
          <v-img :src="menu.icon" :alt="menu.alt" contain />
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapActions, mapGetters, mapState, mapMutations } from 'vuex'
import _ from 'lodash'

export default {
  data() {
    return {
      selectedType: '',
      detail: {},
    }
  },
  computed: {
    ...mapGetters({
      menuList: 'inventory/menuList',
    }),
    ...mapState({
      category: (state) => state.category.category,
      inventories: (state) => state.inventory.inventories,
      cart: (state) => state.inventory.cart,
    }),
    cols() {
      return this.$vuetify.breakpoint.xs ? '4' : '3'
    },
    checkQuantity() {
      return this.detail.quantity > (this.cart[this.detail.id] || 0)
    },
  },
  watch: {
    inventories(val) {
      if (this.detail && this.detail.id) {
        this.detail = _.find(val, (inventory) => {
          return inventory.id === this.detail.id
        })
      }
    },
  },
  async mounted() {
    await this.getCategory()
    await this.getInventories()
    if (this.inventories) {
      this.detail = this.inventories[0]
      this.selectedType = this.detail.type
    }
  },
  methods: {
    ...mapActions({
      getCategory: 'category/getCategory',
      getInventories: 'inventory/getInventories',
    }),
    ...mapMutations({
      addCart: 'inventory/addCart',
    }),
  },
}
</script>

<style lang="scss">
#category-menu-flex .col {
  opacity: 0.5;
  .circle-bg {
    height: 50px;
    width: 50px;
    margin: 10px auto;
    .v-image {
      max-width: 30px;
    }
  }
  &.active {
    opacity: 1;
    .circle-bg {
      height: 70px;
      width: 70px;
      margin: 0px auto;
    }
  }

  @media only screen and (min-width: 601px) {
    .circle-bg {
      height: 70px;
      width: 70px;
      .v-image {
        max-width: 50px;
      }
    }
    &.active {
      .circle-bg {
        background-color: $yellow-color;
        height: 90px;
        width: 90px;
      }
    }
  }
}

#detail-flex {
  width: 80%;
  max-width: 600px;
  padding: 50px;
  .detail-menu-bg {
    height: 100%;
    &.circle-bg {
      background-color: $orange-color;
    }
    .detail-menu-img {
      max-width: 50%;
      margin-left: -20%;
    }
  }
  @media only screen and (max-width: 481px) {
    width: 100%;
    padding: 25px;
    .detail-menu-bg .detail-menu-img {
      max-width: 40%;
      margin-left: -15%;
    }
  }
}

#menu-list-flex .col {
  opacity: 0.5;
  .circle-bg {
    height: 50px;
    width: 50px;
    .v-image {
      // height: 100%;
      // width: 100%;
      height: 30px;
      width: 30px;
      max-width: unset;
      max-height: unset;
    }
  }
  &.active {
    .v-image {
      width: 90px;
      height: 90px;
    }
    opacity: 1;
  }
  @media only screen and (min-width: 601px) {
    .circle-bg {
      height: 70px;
      width: 70px;
      .v-image {
        height: 50px;
        width: 50px;
      }
    }
    &.active .circle-bg {
      background-color: $orange-color;
      .v-image {
        width: 110px;
        height: 110px;
      }
    }
  }
}
</style>
